* {
    /*l'on retire toute les marges qui sont mise 
    par defaut par les navigateur*/
    padding: 0;
    margin: 0;
    /*Pour retirer les puces au niveau des listes*/
    list-style: none;
    text-decoration: none;
}
/*la taille de l'appareil*/
header{
    height: 100vh;
    width: 100vw;
    /* 
    Pour ajouter et appliquer 
    l'image sur l'etendu du site
    
    background-image: url(./landscape.jpg);
    background-size: cover;
    */
}
.navbar {
    position: center;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    box-sizing: border-box;
}

.navbar a {
    color: black;
}
.navbar .nav-links a:hover {
    text-decoration:  underline solid skyblue;
    text-decoration-thickness: 4px;
}
.navbar .logo {
    font-size: 2em;
    font-weight: bold;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 25px;
}

.navbar .menu-btn{
    display: none;
    position: absolute;
    top: 35px;
    right: 300px;
    width: 30px;
}

/******************************************************/


/* Carousel */

@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

body, html{
		width: 100%;
		height: 100%;	
		margin: 0;
		font-family: 'Just Another Hand', cursive;
		overflow-X: hidden;/* optional */
	}

#i1, #i2, #i3, #i4, #i5{ display: none;}

.container{
		margin: 0 auto;
		margin-top: 12px;
		position: relative;
		height: 0;
		padding-bottom: 35%;
        background: #4C4C4C;

	}

	.container .slide_img{
		position: absolute;
		width: 100%;;
		height: 100%;
	}
	.container .slide_img img{
		width: inherit;
		height: inherit;
	}

	 .prev, .next{
		width: 12%;
		height: inherit;
		position: absolute;
		top: 0;
        opacity: 0.2;
        background: rgb(243, 234, 203);
		z-index: 99;
		transition: .40s;
		cursor: pointer;
		text-align: center;
	}

	.next{right:0;}
	.prev{left:0;}

	label span{
		position: absolute;
		font-size: 100pt;
		top: 50%;
	 	transform: translateY(-50%);
	}

	.prev:hover, .next:hover{
		transition: .3s;
		background-color: rgba(88, 88, 89,.8);
		color: #ffffff; 
	}

.container #nav_slide{
	width: 100%;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}

#nav_slide .dots{
	top: -5px;
	width: 18px;
	height: 18px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
	transition: .4s;
}

#nav_slide .dots:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.9);
	transition: .25s
}

.slide_img{z-index: -1;}

	#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #four ,
	#i5:checked ~ #five 
	{z-index: 9; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot4,
	#i5:checked  ~  #nav_slide #dot5
	{ background-color: rgba(255,255,255,.9);}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}



/**********************Responsive*************************/

@media screen and (max-width: 900px) {
    .navbar {
        padding: 0;
    }

    .navbar .logo {
        position: absolute;
        top: 12px;
        left: 60%;
    }

    .navbar .menu-btn {
        display: block;
    }
    .nav-links { 
        top: 0;
        left: 0;
        position: absolute;
        background-color: #012169;
        width: 37%;
        height: 100vh;
        margin-left: -100%;
        transition: all 0.9s ease;

        /*
        si l'on souhaite centrer les elements
        jsutufy-content: center;
        align-items: center;

        flouter l'arrier plan
        backdrop-filter: blur(7px);

        */
    }
    .nav-links.ecran-reduit {
        margin-left: 0;   
    }
    /*Pour cacher la barre*/
    .nav-links ul {
        display: flex;
        flex-direction: column;
        /* 
        align-items: center;
        */
    }
    .navbar a {
        color: aliceblue;
        margin: 17px;
    }
    .navbar .nav-links a:hover {
        color: black;
        text-decoration:  underline solid skyblue;
        text-decoration-thickness: 4px;
        
    }
    .navbar .nav-links ul li {
        margin: 10px 0;
        font-size: 1.2em;
    }

    /******************Carousel*************************/
	.container{
		border: none;
		width: 100%;
		height: 0;
		padding-bottom: 55%; 
	}
	.prev, .next{
		width: 15%;
	}	
	#nav_slide .dots{
		width: 12px;
		height: 12px;
	}
}
@media screen  and(min-width: 970px){
	.me{ display: none;}
}
